
<a href="/home" class="header__logo" id="logo"></a>

<style>
	.header__logo {
	  position: relative;
	  z-index: 5;
	}
	.header__logo svg {
	  width: var(--logoSize);     
	  height: var(--logoSize); 
	}
</style>
