
<div class="item__label">
	<div class="item__brand _anim-scroll _anim-static">{{this.brand}}</div>
	<div class="item__name _anim-scroll _anim-static">{{this.prodname}}</div>
	<div class="item__rating" id="rating" data-rating="{{this.rating}}">
		<i class="bi bi-star-fill"></i>
		<i class="bi bi-star-fill"></i>
		<i class="bi bi-star"></i>
		<i class="bi bi-star"></i>
		<i class="bi bi-star"></i>
	</div>
</div>
