	<aside class="gallery__sort sort__gallery">
		<button class="sort__button" id="sortAsc">Asc</button>
		<button class="sort__button" id="sortDesc">Desc</button>
		<button class="sort__button" id="sortByRating">Sort by rating</button>
		<button class="sort__button" id="sortByDiscount">Sort by discount</button>
		<button class="sort__button" id="sortByPrice">Sort by price</button>

		<select id="AscDesc">
			<option selected value="">Asc</option>
			<option value="">Desc</option>
		</select>

		<select id="">
			<option value="">Rating</option>
			<option value="">Discount</option>
			<option value="">Price</option>
		</select>


	</aside>

	<style>
		.sort__button {
			padding: 10px;
	    min-width: 140px;
	    border: none;
	    outline: none;
	    color: #fff;
	    background: var(--sec_4);
		}
	</style>