<main class="page">
	<section class="page__section page__section_1" id="Banner">
		{{> home/banner}}	
	</section>
	<section class="page__section page__section_2" id="Badges">
		{{> home/badges}}
	</section>
	<section class="page__section page__section_4" id="Gallery">
		{{> home/gallery}}
	</section>
</main>


<style>	

main.page {
  padding: 0 !important;
}

.page__section_2 {  
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-flow: column;
  margin: var(--gap) 0;
  row-gap: 40px;
}
@media (max-width: 1023px) {
  .page__section_2 {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: unset;
    grid-auto-rows: auto;
  }
}
@media (max-width: 575px) {
  .page__section_2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 375px) {
  .page__section_2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.page__section_2,
.page__section_3 {
	padding: var(--inner);
}
</style>
