<main>
	<div class="register-wrapper">
		<h1 class="register-message">
			Ваш аккаунт успешно зарегистрирован
		</h1>
		<a href="/home" class="register-link">Перейти на главную</a>		
	</div>
</main>


<style>
	.register-wrapper {
		height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: var(--inner);
    justify-content: center;
    align-items: center;
	}
	.register-message {
		font-size: var(--h1);
		text-align: center;
	}
	.register-link {
		display: block;
		text-align: center;
		text-decoration: none;
		color: #fff;
		font-size: var(--p1);
	}
</style>