<div class="swiper banner__swiper" id="homeBanner">
	<div class="swiper-wrapper">

		{{#each home3}}
			<div class="swiper-slide">
				<div class="parallax">
					<div class="parallax__body">
						<div class="parallax__container _container">
							<h1 class="parallax__title">{{this.bannerTitle}}</h1>
							<h3 class="parallax__subtitle">{{this.bannerSubtitle}}</h3>
							<a href="/products">
								{{> UI/btn_wave}}
							</a> 	
						</div>
						<div class="parallax__images images-parallax">
							<div class="images-parallax__item">
								<div class="images-parallax__clouds"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="content">
					<div class="content__container _container"></div>
				</div>
			</div>
		{{/each}}

		{{#each home6}}
		<div class="swiper-slide banner-slide" data-img={{this.slidesPath}}>
			<div class="banner-body">
				<h2 class="banner-title">{{this.slidesTitle}}</h2>	
				<a href="/product">{{> UI/btn_wave}}</a> 									
			</div>
		</div>
		{{/each}}

	</div>

	<div class="swiper-pagination"></div>

</div>

<style>
	._container {
		margin: 0 auto;
		padding: 50px 20px;
	}
	.parallax {
		min-height: 100vh;
	}
	.parallax__body {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.parallax__container {
	  text-transform: uppercase;
	  position: relative;
	  z-index: 2;
	  top: 20%;
	  background: rgb(78, 63, 58, .4);
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  row-gap: 30px;
	}

	.parallax__title {
		color: #fbd784;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		font-size: var(--h1);
		letter-spacing: 3px;
		align-items: center;
		animation: color 3s steps(2, end) forwards;
	}
	@keyframes color {
		0% {
			color: #ffffff;
		}
		50% {
			color: #ffb200;
		}
		100% {
			color: #1e1500;
		}
	}
	.parallax__title::before {
		font: 0 0 70px;
		content: '';
		background-color: #fbd784;
		height: 1px;
	}

	.parallax__title span {
		transform: translateY(0);
	}
	.parallax__title._active span {
		transform: translateY(-10px);
	}
	.parallax__subtitle {
		color: #fff;
		text-align: center;
		display: flex;
		font-size: var(--h1);
		letter-spacing: 6px;
		align-items: center;
		animation: subcolor 3s ease 0s;
	}
	@keyframes subcolor {
		0% {
			color: #000;
		}
		100% {
			color: #fff;
		}
	}
	@media (max-width: 767px) {
	  .parallax__title {
	  	margin: 0 0 15px 0;
	  }
	}
	@media (max-width: 479px) {
	  .parallax__title::before {
	  	flex: 0 0 50px;
	  	margin: 0 10px 0 0;
	  }
	}
	.parallax__images {
		position: absolute;
		width: 120%;
		height: 120%;
		top: -10%;
		left: -10%;
		z-index: 1;
	}
	.images-parallax {
	}
	.images-parallax__item {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.images-parallax__clouds {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
	}
	.images-parallax__clouds {
		background: url('/img/home/banner/clouds.jpg') top / cover no-repeat;
		top: 0;
	}
	.content {
		background: linear-gradient(
			rgba(48, 46, 44, .9), 
			rgba(51, 34, 34, 1));
		position: relative;
		z-index: 2;
	}
	.content::before {
		pointer-events: none;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 300px;
		background: linear-gradient(180deg, rgba(11, 29, 38, 0) 5%, #0b1d26 100%);
		transform: translate(0px, -100%);
	}
	.content__container {
	}
	.content__title {
		margin: 0 30px 0 0;
	}
	.content__text {
		font-size: 16px;
		line-height: 150%;
	}
	.content__text p {
		margin: 0 0 30px 0;
	}
	.banner-slide {
		position: relative;
		height: auto !important;
		background-position: 0 center !important;
		background-repeat: no-repeat !important;
		background-size: 100% !important;
	}
	.banner-slide:nth-child(2) {
	  background-position: -265px center !important;
	  background-size: auto 100%!important;
	}
	.banner-body {
	  position: relative;
	  top: 40%;
	  width: 78%;
	  margin: 0 auto;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  row-gap: 20px;
	  border: 1px solid rgba(255, 255, 255, .3);
	  background: rgba(255, 255, 255, .2);
	  min-height: 250px;
	  justify-content: center;
	}
	.banner-title {
		font-size: 50px;
	}

	.banner__swiper {
		position: relative;
	}
	.banner__swiper .swiper-wrapper {
		background-color: #fff;
	}
	.banner__swiper .swiper-pagination {
    position: absolute;
    bottom: 7%;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
	}
	.banner__swiper .swiper-pagination-bullet,
	.banner__swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
    margin: 0 !important;
    opacity: .8;
    background-color: rgb(52 156 229);
    width: 11px;
    height: 11px;
    cursor: pointer;
	}
	.banner__swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 15px !important;
    height: 15px !important;
    opacity: 1 !important;
    box-shadow: 0 0 5px rgb(255 255 255);
	}

</style>

