@import 'fonts.css';
@import 'normalize.css';
@import 'bootstrap.min.css';

:root {
	--pr_1: #353577;
	--pr_2: #62626D;
	--pr_3: #61616C;
	--pr_4: #080883;
	--pr_5: #070772;

	--sec_0: #4C2E73;
	--sec_1: #635E6A;
	--sec_2: #625D69;
	--sec_3: #39047F;
	--sec_4: #2c234c;

	--zoomXon: scale(1) translate(0px, -50%);
	--zoomXoff: scale(0) translate(0, -50%);
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box
}

html,
body {
	height: 100%; 
	line-height: 1;
	font-size: 16px;
	color: #fff;
}

body._lock {
	overflow: hidden
}

body {
	font-family: 'Roboto';
  background-image: url('../img/phone.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
}

a {
	text-decoration: none
}

ul,
ol, 
li {
	list-style: none
}

ul {
	padding: 0;
	margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 { 
	font-weight: inherit; 
	font-size: inherit;
	margin: 0;
}

h1 {font-size: var(--h1) }
h2 {font-size: var(--h2) }
h3 {font-size: var(--h3) }
h4 {font-size: var(--h4) }
h5 {font-size: var(--h5) }
h6 {font-size: var(--p1) }

p,
figure {
	margin: 0;
}

section:not(:first-child) {
	padding: var(--inner);
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

main {
	margin: 0;
	padding: var(--inner) 0;
	background: rgb(19 22 39 / 75%);
	flex: 1 1 auto;
}



