<div class="sign">
	<h1 class="sign__title">{{title}}</h1>
	<form name="signup_admin_form">
		<input type="text" autocomplete="true" name="email" placeholder="Почта">
		<input type="password" autocomplete="true" name="password" placeholder="Пароль">
		<input type="password" name="adminKey" placeholder="Ввести секретный ключ">
		<button type="submit" class="signup-btn">Зарегистрировать</button>
	</form>
	
	<p class="sign__text">Уже зарегистрированы?</p> 
	<a href="/auth/signin" class="sign__link">Тогда не теряйте время!</a>
	<p class="sign__text">Welcome!!!</p>		

</div>


{{> css/formStyles}}