{{> css/adminStyles}}

<div id="wrapper">
	<h1>Список пользователей</h1>

	<table class="table table-bordered" data-table="user">

		<tr>
			<th>Идентификатор</th>
			<th data-name="name">Имя</th>
			<th data-name="age">Возраст</th>
		</tr>

		{{#each users}}
			<tr>
				<td><input name="id" value="{{this._id}}"></td>
				<td><input name="name" value="{{this.username}}"></td>
				<td><input name="age" value="{{this.password}}"></td>
			</tr>
		{{/each}}

	</table>
</div>



