
{{#if auth}}
  {{> navigation/logout}} 
{{/if}}

{{#if signinIcon}}
  <li class="sign-link" title="Войти">
    <a href="/auth/signin" id="signLink"></a>
  </li>
{{/if}}

{{#if signin}}
  <li class="sign-link">
    <a href="/auth/signup">Регистрация</a>
  </li>
{{/if}}

{{#if signup}}
  <li class="sign-link">
    <a href="/auth/signin">Войти</a>
  </li>
{{/if}}


<style>

  .sign-icon {
    display: flex;  
  }

  @media (max-width: 767px) {
    .sign-link {
      display: none;
    }
    .sign-icon a {
      display: flex !important;  
      align-items: center;  
      column-gap : 10px;
    }
  }

</style>