<li class="sign-icon"><a href="/auth/signin" id="signLink"><span>Войти</span></a></li> 

<li class="sign-link"><a href="/auth/signin">Signin</a></li>
<li class="sign-link"><a href="/auth/signup">Signup</a></li>

<style>
  .sign-icon {
    display: none;
  }
  @media (max-width: 767px) {
    .sign-link {
      display: none;
    }
    .sign-icon {
      display: flex;  
    }
    .sign-icon a {
      display: flex !important;  
      align-items: center;  
      column-gap : 10px;
    }
  }
</style>